{% extends "base.j2" %}
{% block head %}
<link rel="stylesheet" href="../static/game_style.css" />
{% endblock %}
{% block content %}
<div class="homepage">
<h1> {{message}} do you know gaming?</h1>
<img src="../static/pacman-21.jpg"><br>
<p>
   Do you think you know all about video games?<br>
   Is your body ready? do you feel the power? take your chances in this short quiz!<br>
   If you pass, there will be cake!<br>
   Do you think that's a weird introduction to the site?<br>
   it's ok. I AM ERROR. also, do a barrel roll :p<br>
</p>
<a class="play" href="/game">Play</a>
</div>
{% endblock %}