{% extends "base.j2" %}
{% block head %}
<link rel="stylesheet" href="../static/profile.css" />
{% endblock %}
{% block content %}
<div class="profile">
    <h1>Profile</h1>
    <h2 id="name">Name: {{user_dict.username}}</h2>
    <h2 id="email">Email: {{user_dict.email}}</h2>
    <h2 id="num_easter_eggs">Number of easter eggs found: {{user_dict.num_easter_eggs}} / 7</h2>
    <h2 id="num_achievements">Number of achievements unlocked: {{user_dict.num_achievements}} / 8</h2>
</div>
<div class="achievements_div">
    <h1>Achievements</h1>
    {% for achievement in user_dict.Achievements %}
    <div class="achievement">
        <h3>{{achievement[0]}}</h3>
        <img class="achievement_images" src="{{ achievement[1] }}" />
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}