{% extends "base.j2" %}
{% block head %}
<link rel="stylesheet" href="../static/registration.css" />
{% endblock %}
{% block content %}
<h1>Sign up</h1>
<form action="/sign_up" method="POST">
    <label class="label" for="username">username</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label class="label" for="password">password</label><br>
    <input type="password" id="password" name="password"><br><br>
    <label class="label" for="email">email</label><br>
    <input type="text" id="email" name="email"><br>
<button class="button">Submit</button>
</form>
{% endblock %}